ion-content {
  --padding-top: 1em; // Padding superior
  --padding-bottom: 1em; // Padding inferior
}

ion-item {
  margin-bottom: 0.5em; // Espaciado entre los items
}

ion-label {
  margin-bottom: 0.5em; // Aumenta el espaciado entre el label y el input
  font-size: 0.9rem; // Tama침o del label
}

ion-input,
ion-textarea {
  background-color: #ffffff; // Fondo blanco
  color: #000000; // Texto negro
  border-radius: 0.25em; // Bordes redondeados
  border: 1px solid #ccc; // Borde gris
  font-size: 0.9rem; // Tama침o de fuente ajustado
  margin-top: 0.5em; // Aumenta el espacio superior adicional para el input
}

ion-input:focus,
ion-textarea:focus {
  border-color: #007bff; // Color del borde al enfocar
}

@media (max-width: 600px) {
  ion-title {
    font-size: 1.2rem;
  }

  ion-button {
    font-size: 0.9rem;
  }

  ion-input,
  ion-textarea {
    font-size: 0.85rem; // Tama침o de fuente para m칩viles
  }
}
