ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 600px) {
  #container strong {
    font-size: 18px;
  }

  #container p {
    font-size: 14px;
  }
}
